<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2023. MageCloud.  All rights reserved.
 * @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hryvinskyi_seo>
            <image_optimizer>
                <enabled_by_cron>0</enabled_by_cron>
            </image_optimizer>
        </hryvinskyi_seo>
    </default>
</config>
